<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSMenu Non App Store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DSMenu-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DSMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DSMenuHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOSWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E51AED4719DD29CC007296FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E51AED5919DD29CC007296FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5280B7D1959F5BD006A9FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5280B9E1959F5BD006A9FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B437A619D6CB0300A0703F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B544C119F1079500B7B7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B544DC19F1079500B7B7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5F1ED2919F57B2200D983E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
